<!DOCTYPE html>
<html>

<head>
    
    {% block head %}
        <title>College Manager</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>