@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

:root{
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: 700;
    color: var(--primary-color);
}

.links a:hover{
    color: var(--primary-color);
    font-weight: 700;
}

.links a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* CARD */

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    width: 800px;
    min-height: 400px;
    margin: 75px auto;
    box-shadow: 0 8px 16px 8px rgba(0,0,0, 0.3);
    opacity: 0;
    animation-name: up;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}

.avatar{
    border-radius: 15px 0 0 15px;
}

/*Animação do card*/

@keyframes up{
    0%{
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
    }
}

/*Details*/

.details{
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child{
    border: none;
}

.details h3,
.details .item div:nth-child(1){
    color: #777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .item span{
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

/* FORM */

input, select{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.btnEdit{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 32px;
    width: 100%;
    font-weight: bold;
    border: var(--primary-color) solid 3px;
    font-size: 16px;
}

button[type="submit"]:hover{
    background-color: white;
    color: var(--primary-color);
}

a.btnEdit{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#form-delete button[type="submit"]{
    margin-top: 16px;
    background-color: lightcoral;
    border-color: lightcoral;
}

#form-delete button[type="submit"]:hover{
    background-color: white;
    color: lightcoral;
}

/*Index instructors*/

.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

.table-container table{
    display: flex;
    flex-direction: column;
    border-spacing: 0;
    height: 369,76px;
    justify-self: center;
}


table tbody tr td span:nth-child(1){
    width: 48px;
    height: 48px;
    margin-right: 8px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

table tbody tr td:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
}

table thead tr th:nth-child(1){
    width: 235px;
}
table thead tr th:nth-child(2){
    width: 225px;
}
table thead tr th:nth-child(3){
    width: 55px;
    text-align: center;
}
table thead tr th:nth-child(4){
    width: 55px;
    text-align: center;
}
table thead tr th:nth-child(5){
    width: 50px;
    text-align: center;
}

table tr td{
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}

table tr td:nth-child(1){
    width: 235px;
}
table tr td:nth-child(2){
    width: 225px;
}
table tr td:nth-child(3){
    width: 55px;
    text-align: center;
}
table tr td:nth-child(4){
    width: 55px;
    text-align: center;
}
table tr td:nth-child(5){
    width: 50px;
    text-align: center;
}

table thead tr th{
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    justify-content: start;
}

table thead tr th:nth-child(1),
table thead tr th:nth-child(2){
    text-align: left;
}
table tbody tr td{
    height: 80px;
}

tbody tr td:last-child a {
    background-color: var(--primary-color);
    padding: 6px 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

tbody tr td:last-child a:hover {
    font-weight: 600;
}

.pagination{
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
}

.newInstructor{
    position: absolute;
    top: -50px;
    right: 0;
    margin: 8px 0 0 0;
    font-size: 12px;
    background-color: white;
    color: var(--primary-color);
    text-transform: uppercase;
    border-radius: 6px;
    text-decoration: none;
    padding: 8px 16px;
}

.newInstructor:hover{
    font-weight: bold;
}

/*Filtro*/

.table-container .header{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-bottom: 24px;
}

.table-container .header form{
    display: grid;
    grid-template-columns: 300px 120px;
    justify-content: end;
    grid-gap: 8px;
}

.table-container .header form input{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.table-container .header form button{
    margin: 0;
}

/*Pagination*/

.table-container{
    display: grid;
    grid-template: 64px 1fr 16px / 1fr;
}

.table-container .header{
    margin: 0;
    align-self: start;
}

.table-container .pagination{
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    margin-right: 12px;
}

.pagination a:last-child,
.pagination span:last-child{
    margin-right: 0;
}

.pagination a:hover{
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}