@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

:root{
    --primary-color: #7159c1;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: 700;
    color: var(--primary-color);
}

.links a:hover{
    color: var(--primary-color);
    font-weight: 700;
}

.links a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* CARD */

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 80%;
    height: 400px;
    margin-top: 45px;
    margin: 45px auto;
    box-shadow: 4px 4px 6px -2px rgba(0,0,0, 0.7);
    animation-name: up;
    animation-duration: 500ms;
}





.avatar{
    background: url(https://source.unsplash.com/collection/9419482/400x400) no-repeat;
    width: 100%;
    height: 100%;

/*Animação do card*/



}

@keyframes up{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}