{% extends "layout.njk" %}

{% block head %}
    <title>
        Error - Vinícius Alves</title>
    {% endblock%}

    {% block content %}

        <div class="error">
            <p>404 Error - Página não encontrada</p>
        </div>

        {% endblock%}}